*{
  box-sizing: border-box;
}

body{
  width: 90%;
  margin: 0 auto;
}

img{
  max-width: 100%;
}

section{
  min-height: 400px;
  border: 1px solid #ccc;
  width: 30%;
  margin: 1.5%;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
}

@media(max-width: 600px){
  section{
    width: 48%;
    margin: 1.5% 1%;
  }
}

@media(max-width: 380px){
  section{
    width: 100%;
    margin: 1.5% 0;
  }
}